<form action="/addShipping" method="post">
    <div class="form-group">
        <label for="name">Shipping Method Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Shipping Method Name">
    </div>
    <div class="form-group">
        <label for="price">Shipping Price</label>
        <input type="number" name="price" class="form-control" id="price" placeholder="Shipping Price">
    </div>
    <input type="submit" value="Add Shipping">
</form>