{{>navbarAdmin}}
{{#each result}}
<div class="container">
    <ul class="list-group">
        <a href="#" style="text-decoration: none; color:black">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{userEmail}}
                <span class="badge badge-primary badge-pill">{{userType}}</span>
            </li>
        </a>
    </ul>
</div>
{{/each}}