<div class="row w-100 m-0">
    <nav class="navbar navbar-expand-lg sticky-top navbar-warning bg-warning w-100">
        <a class="navbar-brand" href="#">
            <img src="/public/img/icon_warungku.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Perkembangan Warung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/addProduct">Add Product</a>
                </li>
            </ul>
        </div>
        {{#if id}}
        <a class="ml-2 mr-2 text-dark" style="text-decoration: none;" href="/cart"><i class="material-icons">
                shopping_cart
            </i></a>
        <i class="material-icons">
            account_circle
        </i>
        <a class="ml-2 mr-2 text-dark" style="text-decoration: none;" href="/warung">Hi, {{id}}</a>
        <a class="text-light btn btn-danger" href="/logout">Logout</a>
        {{else}}
        <a class="text-light btn btn-success" href="/signin">Login</a>
        <a class="ml-2 mr-2 text-dark" style="text-decoration: none;" href="/signup">Signup</a>
        {{/if}}
    </nav>
</div>