<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="card mx-auto" style="width: 500px; margin-top:200px">
    <div class="card-body">
        <div class="row">
            <h1 class="mx-auto">WarungKu Signup</h1>
        </div>
        <form action="/signup" method="POST">
            <div class="row" style="margin-top: 50px;">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                    </div>
                    <input name="username" type="text" class="form-control" placeholder="Username"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                    </div>
                    <input name="email" type="email" class="userEmail form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" placeholder="Email">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                    </div>
                    <input name="password" type="password" class="userPassword form-control" placeholder="Password"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                    </div>
                    <input name="userStatus" type="text" class="form-control" placeholder="User Status"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>

            </div>
            <div class="row">
                <a class="mx-auto">
                    <input type="submit" class="btn btn-primary" value="signup">
                </a>
            </div>
        </form>
    </div>
</div>