{{>navbarWarung}}
<div class="row margin50">
    <div class="col-md">
        <h1 class="text-center text-dark">Your balance: Rp.5,000,000</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center margin50">
        <a href="#" class="card mx-auto bg-danger" style="width: 500px;">
            <div class="card-body text-white">
                Pengeluaran: Rp.50,000
            </div>
        </a>
    </div>
    <div class="col-md-6 text-center margin50">
        <a href="#" class="card mx-auto bg-info" style="width: 500px;">
            <div class="card-body text-white">
                Pemasukan: Rp.250,000
            </div>
        </a>
    </div>
</div>

<div class="row margin50">
    <a href="#" class="card mx-auto bg-warning text-center" style="width: 500px;">
        <div class="card-body text-dark">
            Tambah Transaksi
        </div>
    </a>
</div>

<div class="row margin50">
    <a href="/shop" class="card mx-auto bg-success text-center" style="width: 500px;">
        <div class="card-body text-white">
            Belanja
        </div>
    </a>
</div>