{{>navbarWarung}}
<div class="d-flex justify-content-center w-100 h-100">
    <div class="card text-center w-100">
        <div class="card-header">
            Cart
        </div>
        <div class="card-body">
            <span><i class="material-icons">
                    shopping_cart
                </i></span>
            <h5 class="card-title">Empty Cart</h5>
            <a href="/" class="btn btn-primary">Shopping Now</a>
        </div>
    </div>
</div>